body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    margin-bottom: 40px;
}
.section {
    background-color: #f9f9f9;
}
h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    align-items: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #555;
}

img {
    max-width: 100%;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

form input,
form textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button, .download-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}


.contact {
    background-color: #f9f9f9;
}
.services-list div,
.work {
    transition: transform 0.3s;
}

.services-list div:hover,
.work:hover {
    transform: scale(1.05);
}
.social-lists a:hover {
    color: #0056b3;
    transform: translateY(-5px);
}
.fa-solid{
    font-size: 24px;
}
/*navbar section*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: relative;
    background-color: #5781de;
}
.logo{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.toggle-button{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.toggle-button .bar{
    width: 25px;
    height: 2px;
    border-radius: 5px;
    background-color: #fff;
    margin: 3px 0px;
}
.nav-links{
    list-style-type: none;
    display: flex;
}
.nav-links li{
    margin-right: 25px;
}
.nav-links li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
}
.nav-links li a:hover{
    color: orangered;
}


/*about*/
.download-btn{
    text-decoration: none;
}

/*header section*/
main{
    padding-top: 4px;
}
.header-text h1 span {
    color: rgb(60, 103, 184);
}
#header{
    width: 100%;
}
.header-profile{
    display: grid;
    place-items: center;
    padding-top: 5px;
}
.header-image img{
    border-radius: 50%;
    height: auto;
}
/*services*/
.services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.services-list img{
    height: 100px;
}
/*contact*/

/*footer*/
.social-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.social-lists ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
    transition: transform(1s);
}
.social-lists ul li a{
    text-decoration: none;
    font-size: 18.55px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
}


/*------------------small screens-----------------*/
@media only screen and (max-width: 680px) {
    h1 {
        font-size: 1.8em;
        margin-bottom: 12px;
        align-items: center;
    }
    
    h2 {
        font-size: 1.4em;
        margin-bottom: 15px;
    }
    
    h3 {
        font-size: 1.3em;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 0.9em;
        color: #555;
    }
    .nav-bar{
        padding: 20px 25px;
    }
    .toggle-button{
        display: flex;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #5472b3;
        padding: 25px;
        top: 100%;
        left: 0;
    }
    .nav-links li{
        padding: 12px 0px;
    }
    .nav-links.active{
        display: block;
    }
    .services-list{
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer{
        width: 100%;
    }
    .social-lists{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}    
